body {
    
    background-image: url('../pictures/background.jpg'); background-repeat: no-repeat; background-size: cover;
    height: 100%;
    margin: 0;
}
/*-------TEXT-------*/
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: 0.5s;
}
a:hover {
 font-size: 70px;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    height: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    transition: 0.5s;
}
h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
}
/*-------CONTENT-------*/
.container {
    display: grid;
    grid-template-columns: minmax(500px, 800px) minmax(300px, 500px);
    grid-template-rows: 500px 300px;
    gap: 56px;
    margin: 56px;
    justify-content: center;
}
@media (max-width: 1100px){
    .container {
        grid-template-columns: minmax(400px, 900px);
        grid-template-rows: 300px 300px 300px 300px;
        gap: 30px;
    }
}
.info {
    display: wrap;
    border: rgb(0, 0, 0) 10px;
    border-radius: 20px;
    border-style: solid;
    cursor: pointer;
    background-repeat: no-repeat; 
    background-size: cover; 
    transition: 0.5s;
}
.info:hover {
    border: white 10px;
    border-radius: 20px;
    border-style: solid;
    transform: scale(1.05);
}