
html, body {
    background-image: url('pictures/background.jpg'); background-repeat: no-repeat; background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #000000;
    color: rgb(0, 0, 0,);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    color: #ffffff;
    height: 120px;
    justify-content:center;
    align-items: center;
    position: absolute;
   top: 0%;
    display: flex;
}

div.container {
    display: flex;
    justify-content: center;
    position: relative; 
    top: 20px;
    height: 100px, 140px; /* Subtract header height */
    padding: 20px;
    box-sizing: content-box;
    color: #ffffff;
}
.container > div.header {
  grid-area: header;
  text-align: center;
}