
html, body {
    background-image: url('pictures/background.jpg'); background-repeat: no-repeat; background-size: cover; 
    height: 100%;
    margin: 0;
}
.grid-container {
    display: grid;                  
   
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
    max-width: 2000px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-style: dashed;
}

header, footer {
    text-align: center;              
    padding: 10px;                  
    background-color: #000000;      
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    height: 120px;
    justify-content:center;
    align-items: center;
    display: flex;
}
/* .container {
    background-color: #000000;
    color: rgb(0, 0, 0,);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    color: #ffffff;
    height: 120px;
    justify-content:center;
    align-items: center;
    display: flex;
}

div.container {
    display: flex;
    justify-content: center;
    position: relative; 
    top: 20px;
    height: 100px, 140px; /* Subtract header height
    padding: 20px;
    box-sizing: content-box;
    color: #ffffff;
}
.container > div.header {
  grid-area: header;
  text-align: center;
      color: rgb(0, 0, 0,);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    color: #ffffff;
    height: 120px;
    justify-content:center;
    align-items: center;
    display: grid;
} */
